:root {
    --bg_freelancer_primary: #2C3E50;
    --bg_freelancer_secondary: #1ABC9C;
    --bg_freelancer_light: #3A546D;
    --color-border-bottom: #CCCCCC;
}

/* Utility */
a{
    color: var(--bg_freelancer_secondary);
    text-decoration: none;
}

.bg_freelancer_primary{
    background-color: var(--bg_freelancer_primary);
}

.bg_freelancer_secondary{
    background-color: var(--bg_freelancer_secondary);
}
.bg_freelancer_light{
    background-color: var(--bg_freelancer_light);
}

.placeholder{
    min-height: 3px;
    opacity: 1;
    max-width: 100px;
}

/* Main */

.form-control::placeholder{
    color: black;
    opacity: 1;
}

.jumbotron > .row > .col > img{
    max-height: 300px;
}

.icons > i{
    height: 40px;
    width: 40px;
    line-height: 20px;
}



